<template>
  <div>
    <Nav></Nav>
    <loading :active.sync="isLoading" :is-full-page="fullPage"></loading>
    <div class="container mt-5">
      <div class="row">
        <div class="col-8">
          <h1>{{services === 'indihome' ? 'IndiHome Gamer': services === 'gameqoo' ? 'GameQoo':services === 'upoint_id' ? 'UPoint.ID':''}}</h1>
          <h6>Channel {{services === 'indihome' ? 'IndiHome Gamer': services === 'gameqoo' ? 'GameQoo':services === 'upoint_id' ? 'UPoint.ID':''}} di ChatAja</h6>
          <validation-observer ref="observer" v-slot="{ handleSubmit }">
            <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
              <validation-provider
                name="Judul Utama"
                :rules="{ required: true, min: 3 }"
                v-slot="validationContext"
              >
                <b-form-group
                  id="example-input-group-1"
                  label="Judul Utama"
                  label-for="example-input-1"
                >
                  <b-form-input
                    id="example-input-1"
                    name="example-input-1"
                    v-model="form.title"
                    :state="getValidationState(validationContext)"
                    aria-describedby="input-1-live-feedback"
                    placeholder="mis. Berita hari ini, game rekomendasi bulan ini, dll."
                  ></b-form-input>

                  <b-form-invalid-feedback
                    id="input-1-live-feedback"
                  >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
              <!-- <b-button variant="danger" class="my-3" @click="addbtn">Tambah Item</b-button> -->
              <div v-for="(card, k) in form.cards" :key="card.id">
                <div class="card px-4 py-4 mb-5">
                  <div class="row">
                    <div class="col-6">
                      <h4>Carousel Item {{k+1}}</h4>
                      <!-- {{form.cards[k]}} -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <validation-provider
                        :name="'Link Gambar '+[k >= 0 ? k+1:'']"
                        :rules="{ required: true, regex: /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&//=]*)/g }"
                        v-slot="validationContext"
                      >
                        <b-form-group
                          id="example-input-group-1"
                          :label="'Link Gambar '+[k >= 0 ? k+1:'']"
                          label-for="example-input-1"
                        >
                          <b-form-input
                            id="example-input-1"
                            name="example-input-1"
                            v-model="form.cards[k].image"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-1-live-feedback"
                          ></b-form-input>

                          <b-form-invalid-feedback
                            id="input-1-live-feedback"
                          >{{ validationContext.errors[0] }}. Gunakan http:// atau https://</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>
                    </div>
                    <div class="col-6">
                      <validation-provider
                        :name="'Judul Card '+[k >= 0 ? k+1:'']"
                        :rules="{ required: true, min: 3 }"
                        v-slot="validationContext"
                      >
                        <b-form-group
                          id="example-input-group-1"
                          :label="'Judul Card '+[k >= 0 ? k+1:'']"
                          label-for="example-input-1"
                        >
                          <b-form-input
                            id="example-input-1"
                            name="example-input-1"
                            v-model="form.cards[k].title"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-1-live-feedback"
                          ></b-form-input>

                          <b-form-invalid-feedback
                            id="input-1-live-feedback"
                          >{{ validationContext.errors[0] }}</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <validation-provider
                        :name="'Deskripsi Card '+[k >= 0 ? k+1:'']"
                        :rules="{ required: true, min: 3, max:250 }"
                        v-slot="validationContext"
                      >
                        <b-form-group
                          id="example-input-group-1"
                          :label="'Deskripsi Card '+[k >= 0 ? k+1:'']"
                          label-for="example-input-1"
                        >
                          <b-form-input
                            id="example-input-1"
                            name="example-input-1"
                            v-model="form.cards[k].description"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-1-live-feedback"
                          ></b-form-input>

                          <b-form-invalid-feedback
                            id="input-1-live-feedback"
                          >{{ validationContext.errors[0] }}. Maksimum 250 karakter</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>
                    </div>
                  </div>
                  <div class="row" v-show="services === 'gameqoo'">
                    <div class="col-12">
                      <validation-provider
                        :name="'Link Game '+[k >= 0 ? k+1:'']"
                        :rules="{ required: true, min: 3, regex: /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&//=]*)/g }"
                        v-slot="validationContext"
                      >
                        <b-form-group
                          id="example-input-group-1"
                          :label="'Link Game '+[k >= 0 ? k+1:'']"
                          label-for="example-input-1"
                        >
                          <b-form-input
                            id="example-input-1"
                            name="example-input-1"
                            v-model="form.cards[k].buttons[0].payload.url"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-1-live-feedback"
                          ></b-form-input>
                          <b-form-invalid-feedback
                            id="input-1-live-feedback"
                          >{{ validationContext.errors[0] }}. Gunakan http:// atau https://</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>
                    </div>
                  </div>
                  <div class="row" v-show="services === 'indihome' || services === 'upoint_id'">
                    <div class="col-12">
                      <validation-provider
                        :name="'Link Pembelian '+[k >= 0 ? k+1:'']"
                        :rules="{ required: true, min: 3, regex: /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&//=]*)/g }"
                        v-slot="validationContext"
                      >
                        <b-form-group
                          id="example-input-group-1"
                          :label="'Link Pembelian '+[k >= 0 ? k+1:'']"
                          label-for="example-input-1"
                        >
                          <b-form-input
                            id="example-input-1"
                            name="example-input-1"
                            v-model="form.cards[k].buttons[0].payload.url"
                            :state="getValidationState(validationContext)"
                            aria-describedby="input-1-live-feedback"
                          ></b-form-input>
                          <b-form-invalid-feedback
                            id="input-1-live-feedback"
                          >{{ validationContext.errors[0] }}. Gunakan http:// atau https://</b-form-invalid-feedback>
                        </b-form-group>
                      </validation-provider>
                    </div>
                  </div>
                </div>
              </div>
              <b-button type="submit" variant="danger" class="float-right mb-5">Kirim</b-button>
            </b-form>
          </validation-observer>
        </div>
        <div class="col-4">
          <h2>Penjelasan</h2>
          <h6>Carousel Item</h6>
          <div v-if="services === 'gameqoo'">
            <img src="~@/assets/penjelasan_gameqoo.png" class="img-fluid" />
          </div>
          <div v-else>
            <img src="~@/assets/penjelasan_carousel.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "@/components/navbar/navbar.vue";
import axios from "axios";
import Swal from "sweetalert2";
import Loading from "vue-loading-overlay";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    Nav,
    Loading
  },
  data() {
    return {
      isLoading: false,
      services: this.$route.params.services,
      form: {
        title: null,
        cards: [
          {
            image: "",
            title: "",
            description: "",
            default_action: {
              type: "link",
              payload: {
                // url:
                //   this.$route.params.services === "gameqoo"
                //     ? ""
                //     : "https://upoint.id/topup/games/free_fire",
                url:"",
                method: "GET",
                payload: null
              }
            },
            buttons: [
              {
                label:
                  this.$route.params.services === "gameqoo" ? "Play" : "Buy",
                type: "link",
                payload: {
                  // url:
                  //   this.$route.params.services === "gameqoo"
                  //     ? ""
                  //     : "https://upoint.id/topup/games/free_fire",
                  url:"",
                  method: "GET",
                  payload: null
                }
              }
            ]
          },
          {
            image: "",
            title: "",
            description: "",
            default_action: {
              type: "link",
              payload: {
                // url:
                //   this.$route.params.services === "gameqoo"
                //     ? ""
                //     : "https://upoint.id/topup/games/free_fire",
                url:"",
                method: "GET",
                payload: null
              }
            },
            buttons: [
              {
                label:
                  this.$route.params.services === "gameqoo" ? "Play" : "Buy",
                type: "link",
                payload: {
                  // url:
                  //   this.$route.params.services === "gameqoo"
                  //     ? ""
                  //     : "https://upoint.id/topup/games/free_fire",
                  url:"",
                  method: "GET",
                  payload: null
                }
              }
            ]
          },
          {
            image: "",
            title: "",
            description: "",
            default_action: {
              type: "link",
              payload: {
                // url:
                //   this.$route.params.services === "gameqoo"
                //     ? ""
                //     : "https://upoint.id/topup/games/free_fire",
                url:"",
                method: "GET",
                payload: null
              }
            },
            buttons: [
              {
                label:
                  this.$route.params.services === "gameqoo" ? "Play" : "Buy",
                type: "link",
                payload: {
                  // url:
                  //   this.$route.params.services === "gameqoo"
                  //     ? ""
                  //     : "https://upoint.id/topup/games/free_fire",
                  url:"",
                  method: "GET",
                  payload: null
                }
              }
            ]
          },
          {
            image: "",
            title: "",
            description: "",
            default_action: {
              type: "link",
              payload: {
                // url:
                //   this.$route.params.services === "gameqoo"
                //     ? ""
                //     : "https://upoint.id/topup/games/free_fire",
                url:"",
                method: "GET",
                payload: null
              }
            },
            buttons: [
              {
                label:
                  this.$route.params.services === "gameqoo" ? "Play" : "Buy",
                type: "link",
                payload: {
                  // url:
                  //   this.$route.params.services === "gameqoo"
                  //     ? ""
                  //     : "https://upoint.id/topup/games/free_fire",
                  url:"",
                  method: "GET",
                  payload: null
                }
              }
            ]
          },
          {
            image: "",
            title: "",
            description: "",
            default_action: {
              type: "link",
              payload: {
                // url:
                //   this.$route.params.services === "gameqoo"
                //     ? ""
                //     : "https://upoint.id/topup/games/free_fire",
                url:"",
                method: "GET",
                payload: null
              }
            },
            buttons: [
              {
                label:
                  this.$route.params.services === "gameqoo" ? "Play" : "Buy",
                type: "link",
                payload: {
                  // url:
                  //   this.$route.params.services === "gameqoo"
                  //     ? ""
                  //     : "https://upoint.id/topup/games/free_fire",
                  url:"",
                  method: "GET",
                  payload: null
                }
              }
            ]
          }
         
        ]
      }
    };
  },
  created() {
    let logged = this.$store.getters.isLoggedIn
    if (logged && localStorage.division !== this.$route.params.services) {
      this.$router.push("/messages/" + localStorage.division);
      Swal.fire({
        position: "center",
        icon: "error",
        title: "Anda tidak memiliki hak akses",
        showConfirmButton: false,
        timer: 1500
      }).then(() => {
        this.$router.go(0);
      });
    }
  },
  methods: {
    addbtn() {
      if (this.form.cards.length < 5) {
        this.form.cards.push({
          image: "",
          title: "",
          description: ""
        });
      } else {
        console.log("GA BISA");
      }
    },
    removebtn(k) {
      this.form.cards.splice(k, 1);
    },
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    resetForm() {
      this.form = {
        name: null,
        food: null
      };

      this.$nextTick(() => {
        this.$refs.observer.reset();
      });
    },
    async onSubmit() {
      if (this.services === "gameqoo") {
        Swal.fire({
          title: "Anda Yakin?",
          text: "Jika ya, Anda tidak dapat melakukan penghapusan data",
          icon: "warning",
          showCancelButton: true,
          showLoaderOnConfirm: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, saya yakin!"
        }).then(async result => {
          if (result.value) {
            this.isLoading = true;
            for (let i = 0; i < this.form.cards.length; i++) {
              this.form.cards[i].default_action.payload.url = this.form.cards[
                i
              ].buttons[0].payload.url;
            }
            const payload = {
              cards: this.form.cards
            };
            await axios.post(`${process.env.VUE_APP_CA_URL}`, {
              access_token:
                // "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozNzMzMCwidGltZXN0YW1wIjoiMjAyMC0wNy0xN1QyMTo1Mzo1Ny45MjMrMDc6MDAifQ.uMzaTFHGd0hRswEzcC8RM2Lx5RSDHLQ4zh4hbGn3SaI",
                `${process.env.VUE_APP_GAMEQOO_PROD}`,
              topic_id: `${process.env.VUE_APP_GAMEQOO_PROD_ID}`,
              type: "text",
              comment: this.form.title
              // payload: JSON.stringify(payload)
            });
            await axios
              .post(`${process.env.VUE_APP_CA_URL}`, {
                access_token: `${process.env.VUE_APP_GAMEQOO_PROD}`,
                topic_id: `${process.env.VUE_APP_GAMEQOO_PROD_ID}`,
                type: "carousel",
                payload: JSON.stringify(payload)
              })
              .then(res => {
                console.log(res);
                this.isLoading = false;
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: "Postingan Anda sudah terkirim",
                  showConfirmButton: false,
                  timer: 1500
                }).then(() => {
                  this.$router.go(0);
                });
                // this.$router.go(0);
                //  for (let i = 0; i < this.form.cards.length; i++) {
                //    this.form.cards[i].image = ''
                //    this.form.cards[i].title = ''
                //    this.form.cards[i].description = ''
                //    this.form.cards[i].buttons[0].payload.url = ''
                //  }
              });
          }
        });
      }
      else if (this.services === "indihome") {
        Swal.fire({
          title: "Anda Yakin?",
          text: "Jika ya, Anda tidak dapat melakukan penghapusan data",
          icon: "warning",
          showCancelButton: true,
          showLoaderOnConfirm: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, saya yakin!"
        }).then(async result => {
          if (result.value) {
            this.isLoading = true;
            for (let i = 0; i < this.form.cards.length; i++) {
              this.form.cards[i].default_action.payload.url = this.form.cards[
                i
              ].buttons[0].payload.url;
            }
            const payload = {
              cards: this.form.cards
            };
            await axios.post(`${process.env.VUE_APP_CA_URL}`, {
              access_token:
                `${process.env.VUE_APP_INDIHOME_PROD}`,
              topic_id: `${process.env.VUE_APP_INDIHOME_PROD_ID}`,
              type: "text",
              comment: this.form.title
              // payload: JSON.stringify(payload)
            });
            await axios
              .post(`${process.env.VUE_APP_CA_URL}`, {
                access_token: `${process.env.VUE_APP_INDIHOME_PROD}`,
                topic_id: `${process.env.VUE_APP_INDIHOME_PROD_ID}`,
                type: "carousel",
                payload: JSON.stringify(payload)
              })
              .then(res => {
                console.log(res);
                this.isLoading = false;
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: "Postingan Anda sudah terkirim",
                  showConfirmButton: false,
                  timer: 1500
                }).then(() => {
                  this.$router.go(0);
                });
                // this.$router.go(0);
                //  for (let i = 0; i < this.form.cards.length; i++) {
                //    this.form.cards[i].image = ''
                //    this.form.cards[i].title = ''
                //    this.form.cards[i].description = ''
                //    this.form.cards[i].buttons[0].payload.url = ''
                //  }
              });
          }
        });
      }
      else if (this.services === "upoint_id") {
        Swal.fire({
          title: "Anda Yakin?",
          text: "Jika ya, Anda tidak dapat melakukan penghapusan data",
          icon: "warning",
          showCancelButton: true,
          showLoaderOnConfirm: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, saya yakin!"
        }).then(async result => {
          if (result.value) {
            this.isLoading = true;
            for (let i = 0; i < this.form.cards.length; i++) {
              this.form.cards[i].default_action.payload.url = this.form.cards[
                i
              ].buttons[0].payload.url;
            }
            const payload = {
              cards: this.form.cards
            };
            await axios.post(`${process.env.VUE_APP_CA_URL_STAG}`, {
              access_token:
                `${process.env.VUE_APP_UPOINT_STAG}`,
              topic_id: `${process.env.VUE_APP_UPOINT_STAG_ID}`,
              type: "text",
              comment: this.form.title
              // payload: JSON.stringify(payload)
            });
            await axios
              .post(`${process.env.VUE_APP_CA_URL_STAG}`, {
                access_token: `${process.env.VUE_APP_UPOINT_STAG}`,
                topic_id: `${process.env.VUE_APP_UPOINT_STAG_ID}`,
                type: "carousel",
                payload: JSON.stringify(payload)
              })
              .then(res => {
                console.log(res);
                this.isLoading = false;
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: "Postingan Anda sudah terkirim",
                  showConfirmButton: false,
                  timer: 1500
                }).then(() => {
                  this.$router.go(0);
                });
                // this.$router.go(0);
                //  for (let i = 0; i < this.form.cards.length; i++) {
                //    this.form.cards[i].image = ''
                //    this.form.cards[i].title = ''
                //    this.form.cards[i].description = ''
                //    this.form.cards[i].buttons[0].payload.url = ''
                //  }
              });
          }
        });
      }
    }
  }
};
</script>