<template>
  <div class="container-fluid">
    <loading :active.sync="isLoading" :is-full-page="fullPage"></loading>
    <div class="row">
      <div class="col-md-8 bg-only">
        <h1>ChatAja X Melon</h1>
        <p>
          Copyright &copy; {{year}}
          <img
            alt="indihome gamer logo"
            src="@/assets/ca.png"
            width="20px"
          /> &bull; All Right Reserved
        </p>
      </div>
      <div class="col-md-4">
        <div class="in-middle px-5">
          <h1>Login</h1>
          <div class="row my-3">
            <div class="col-4">
              <img alt="indihome gamer logo" src="@/assets/indihome.png" class="img-fluid" />
            </div>
            <div class="col-4">
              <img alt="indihome gamer logo" src="@/assets/upoint.png" class="img-fluid" />
            </div>
            <div class="col-3">
              <img alt="indihome gamer logo" src="@/assets/gameqoo.png" class="img-fluid" />
            </div>
          </div>
          <validation-observer ref="observer" v-slot="{ handleSubmit }">
            <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
              <b-form-group>
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="username"
                  required
                  placeholder="Masukkan Nama Pengguna"
                ></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-form-input
                  id="input-1"
                  type="password"
                  v-model="password"
                  required
                  placeholder="Masukkan Kata Sandi"
                ></b-form-input>
              </b-form-group>
              <b-button type="submit" block variant="primary">Masuk</b-button>
            </b-form>
          </validation-observer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
import { mapActions } from "vuex";
import Loading from "vue-loading-overlay";
export default {
  name: "Login",
  components: {
    Loading
  },
  data() {
    return {
      isLoading: false,
      year: new Date().getFullYear(),
      // loginData: {
        username: "",
        password: ""
      // }
    };
  },
  created(){
    let logged = this.$store.getters.isLoggedIn
    if(logged && localStorage.division !== undefined){
      this.$router.push("/messages/" + localStorage.division);
    }
  },
  methods: {
    ...mapActions({
      logIn: "index/Login"
    }),
    async onSubmit() {
      this.isLoading = true;
      let username = this.username
      let password = this.password
      this.$store
        .dispatch("login", { username, password })
        .then((res) => {
          switch(res.data.division){
            case "upoint_id":
                this.$router.push('/messages/upoint_id')
              break;
            case "gameqoo":
              this.$router.push('/messages/gameqoo')
              break;
            case "indihome":
              this.$router.push('/messages/indihome')
              break;
              default:
          }
 
        })
        .catch(err => console.log(err));
      // await axios.post(`${process.env.VUE_APP_BE}`+'login',{
      //   username:this.username,
      //   password:this.password
      // }).then((res)=>{
      //   this.isLoading = false
      //   if(res.data.token){
      //     localStorage.token = res.data.token
      //     localStorage.name = res.data.name
      //     switch(res.data.division){
      //       case "upoint_id":
      //           this.$router.push('/messages/upoint.id')
      //         break;
      //       case "gameqoo":
      //         this.$router.push('/messages/gameqoo')
      //         break;
      //       case "indihome":
      //         this.$router.push('/messages/indihome')
      //         break;
      //         default:
      //     }
      //   }
      // }).catch((err)=>{
      //   console.log(err)
      // })
    }
  }
};
</script>
<style lang="scss" scoped>
.row {
  .bg-only {
    background: linear-gradient(rgba(223, 20, 20, 0), rgba(255, 255, 255, 0.8)),
      url("~@/assets/tlt.jpg");
    height: 100vh;
    background-size: cover;
    h1,
    p {
      position: absolute;
      right: 2%;
      bottom: 6%;
    }
    p {
      bottom: 1%;
    }
  }
}
.in-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
</style>