<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <formPost></formPost>
  </div>
</template>

<script>
// @ is an alias to /src
import formPost from '@/components/messages/Form.vue'

export default {
  name: 'Form',
  components: {
    formPost
  }
}
</script>
